<a href="https://colab.research.google.com/github/javmohir/malumotlarga_ishlov_berish/blob/main/Tartiblash_filtrlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print # natijalarni chiroyli chiqarish uchun pprint modulidan foydalanamiz

ORDER BY

In [ ]:
!wget "https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip"

In [ ]:
!unzip chinook.zip

In [ ]:
db=sql.connect("chinook.db")
cursor=db.cursor()

In [ ]:
#cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
#print(cursor.fetchall())
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [ ]:
df=pd.read_sql("SELECT * FROM customers", db, index_col='CustomerId')
df.head()

In [ ]:
df=pd.read_sql("SELECT CustomerId, FirstName, LastName,Phone, Country, State  FROM customers ORDER BY Country", db, index_col='CustomerId') #  CustomerId ustunidan DF Indeksi sifatida foydalanamiz
df.head()

In [ ]:
query="SELECT CustomerId, FirstName, LastName, Phone, State, Country FROM customers ORDER BY FirstName"
df=pd.read_sql(query, db, index_col='CustomerId')
df

Noyob (DISTINCT) qiymatlarni ko'rish
Misol uchun jadvaldagi barcha mavjud davlatlarni ko'rish uchun DISTINCT buyrug'idan foydalanamiz.

In [ ]:
query="SELECT DISTINCT Country FROM customers" # Country dan takrorlanmas qiymatlarni olish
cursor.execute(query)                          # DISTINCT yordamida
cursor.fetchall()

In [ ]:
coun=pd.read_sql(query, db)
coun

In [ ]:
obj=coun['Country']
obj

In [ ]:
# Ma'lumotlarni biror ustun bo'yicha kamayish tartyibida olish
query = "SELECT * FROM customers ORDER BY Country DESC"
df = pd.read_sql(query, db, index_col="CustomerId")
df.head(10)

In [ ]:

komanda="SELECT * FROM customers ORDER BY Country DESC"
df=pd.read_sql(komanda, db, index_col='CustomerId')
df.head()

WHERE yordamida filtrlash
Ma'lumotlarni ombordan olishda turli shartlar yordamida filtlashimiz mumkin

In [ ]:
last='SELECT * FROM customers WHERE country="USA"'
pd.read_sql(last, db, index_col='CustomerId')

In [ ]:
query='SELECT * FROM customers WHERE Country="Canada"'
pd.read_sql(query, db, index_col='CustomerId')

In [ ]:
last='SELECT * FROM customers WHERE country="Italy" OR country="Portugal"'
pd.read_sql(last, db, index_col='CustomerId')

In [ ]:
query='SELECT * FROM customers WHERE country="Germany" OR country="Brazil" ORDER BY Country'
pd.read_sql(query, db, index_col='CustomerId')

In [ ]:
query='SELECT * FROM customers WHERE country="USA" AND State="CA" ORDER BY City'
pd.read_sql(query, db, index_col='CustomerId')